*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    min-height: 100vh;j
}

.container{
    height: 100%;
    max-width: 90vw;
    background: black;
}
#physics{
    background: #1E3A8A;
}