body {
    min-height: 100vh;
    background-color: #242424;
    color: #f2f2f2;
    font-size: 2rem;
}

details {
    border: #5c5c5c solid 7px;
    margin: 30px;
    padding: 5px;
}

.container details:nth-child(odd) {
    background-color: #343434;
}

summary {
    color: #0fc2c5;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: 600;
}

p {
    margin-left: 4rem;
    border-left: #f2f2f2 solid 4px;
    padding-left: 2rem;
    margin-top: 0;
}

summary:hover {
    background: #232323;
}