body{
    background: #b5ffaa;
    height: 100vh;
    width: 100vw;
}
div{
    width: 80vw;
    background: #f880ff;
    padding: 20px;
    margin: 15px;
    border: solid #333 2px;
    text-align: center;
}
div:nth-child(odd){background: #b900ff;}
.para{color: #4b322cec;}