body{
    background: #ba9b8c;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}
article {
    background: #8f776b;
    margin: 20px auto;
    padding: 16px;
    border: 2px solid #2a2a2a;
}
h1{
    text-align: center;
}
h2{
    font-size: 30px;
    color: #2a3153;
}
h3{
    font-size: 21px;
    color: #222844;
}
p{
    margin-bottom: 7px;
    font-style: italic;
}
section {
    border-top: 12px double black;
    border-bottom: 12px double black;
    margin: 5px auto;
    padding: 13px;
}
aside {
    background: #5c6db8;
}
article p{
    margin: 2px auto;
    padding: 18px;
}