html{
            scroll-behavior: smooth;
        }
        body{
           min-height: 100vh;
           max-width: 100vw;
           background: #ff2bb2;
           margin: 0;
           padding: 0;
        }
        header{
        height: 19px;
        width: 100%;
        margin: 10px auto;
        }
        nav{
            display: flec;
            justify-content: space-around;
            color: white;
        }
        section{
            height: 100vh;
            background: #5abdd7;
            margin: 2px auto;
            border: 2px solid;
            border-radius: 10px;
            
            display: grid;
            align-content: center;
            text-align: center;
        }        
       a{
            text-decoration: none;
            color: #fbf892;
            padding: 10px;
        }
        a:hover{
            color: #5c40ff;
        }
        li {
            border: solid 4px;
            margin: 20px;
        }
